<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/css/animal.css' %}">
	<title>Document</title>
</head>

<body>
<div class="animal__wrapper">
</div>

    <div class="app__header">
        <a href="/main/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/ic_home.png' %}" alt="">
                <div id="animal__description">처음</div>
            </div>
        </a>
        <a href="/animal/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/animal_logo.png' %}" alt="">
	            <div id="animal__description" onclick="location.href='{% url "animal" %}'">동물도감</div>
            </div>
        </a>
        <a href="/history/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/ic_history.png' %}" alt="">
                <div id="animal__description">7 DAYS</div>
            </div>
        </a>
        <a href="/rank/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/ic_rank.png' %}" alt="">
                <div id="animal__description">랭킹</div>
            </div>
        </a>
    </div>
<div class="animal__top">
	동물도감
</div>
<div class="animal__list">
	{% for animal in object_list %}
		<div class="animal__el">
			<div class="animal__photo">
				<img src="/media/{{ animal.image }}">
			</div>
			<div class="animal__name">{{ animal.name }}</div>
			<p style="display: none;">{{ animal.description }}</p>
		</div>
	{% endfor %}
</div>


<div id="modal">
	<div class="modal__img">
		<img src="#" alt="" id="modal-img">
	</div>
	<div class="modal__title"></div>
	<div class="modal__content"></div>
</div>
<div id="modal__back"></div>
<script>

    $(".animal__el,#modal").click(function (e) {
        e.preventDefault();
        var img_src = e.target.src;
        $('#modal-img').attr('src', img_src);
        var name = $(e.target).parent().next().text();
        $('div.modal__title').text(name);
        var desc = $(e.target).parent().next().next().text();
        $('div.modal__content').text(desc);
        $("#modal__back, #modal").toggle();
    });
</script>
</body>

</html>