<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <title>Document</title>
</head>

<body>
<div class="main__wrapper"></div>

    <div class="app__header">
        <a href="/main/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/ic_home.png' %}" alt="">
                <div id="animal__description">처음</div>
            </div>
        </a>
        <a href="/animal/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/animal_logo.png' %}" alt="">
	            <div id="animal__description" onclick="location.href='{% url "animal" %}'">동물도감</div>
            </div>
        </a>
        <a href="/history/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/ic_history.png' %}" alt="">
                <div id="animal__description">7 DAYS</div>
            </div>
        </a>
        <a href="/rank/?device_id={{ device_id }}">
            <div id="animal__logo">
                <img src="{% static 'img/ic_rank.png' %}" alt="">
                <div id="animal__description">랭킹</div>
            </div>
        </a>
    </div>
    <div class="app__content">
        <div class="step__count__cover">
            <span id="step__count">{{ step.count }}</span>걸음
        </div>
        <div class="step__img__cover" style="position:relative;">

            <canvas id="openedCanvas" width="270" height="270"></canvas>
            <div style="position:absolute; left: 0; top: 0;">
                <img id="center_image" src="{% static "img/blank.png" %}" width="270" height="270">
            </div>
        </div>

    </div>
    <div class="app__bottom">
        <div class="quest__cover">
            <div class="quest__title">DAILY MISSION</div>
            <div class="quest__description">
                오늘 하루는 핸드타올 대신 손수건을 사용해 볼까요?
            </div>
        </div>
    </div>

<script>
    var step = {{ step.count }};

    var missions = ['오늘 하루는 핸드타올 대신 손수건을 사용해 볼까요?',
        '오늘은 머그컵을 꼭 들고가서 일회용 컵 사용을 줄여봐요',
        '조금만 더 걸어볼까요?',
        '졸릴 때는 요가를 해봐요!',
        '차를 몰고 가는 것보단 지하철을 타봐요!'];

    var chart;

    $(document).ready(function () {
	window.setTimeout(function () {
            $('div.quest__description').text(missions[Math.floor(Math.random() * missions.length)]);
        }, 5000);

        chart = new Chart($('#openedCanvas'), {
            type: 'doughnut',
            data: {
                labels: [
                    "Steps"
                ],
                datasets: [
                    {
                        data: [0, 100],
                        backgroundColor: [
                            "rgba(0,0,0,0)",
                            "#8abef7"
                        ],
                        hoverBackgroundColor: [
                            "rgba(0,0,0,0)",
                            "#8abef7"
                        ],
                        borderWidth: [
                            0, 0
                        ]
                    }]
            },
            options: {
                cutoutPercentage: 93,
                animation: {
                    duration: 0
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: false
                }
            }
        });

        updateStepCount(step);
    });


    function updateStepCount(step) {
        // 여기에 이미지를 바꾸는걸 넣어주세요
        var url = "{% static 'img/trash_1.png' %}";

        if( step > 2500 && step < 5000 ) {
            url = "{% static 'img/trash_2.png' %}";
        } else if (step < 7500) {
            url = "{% static 'img/trash_3.png' %}";
        } else if (step < 10000) {
            url = "{% static 'img/trash_4.png' %}";
        } else {
            url = "{% static 'img/clean.png' %}";

        }

        chart.data.datasets[0].data[0] = step < 10000 ? ( step / 100 ) : 100;;
        chart.data.datasets[0].data[1] = 100 - chart.data.datasets[0].data[0];
        chart.update();

        $("#center_image").attr("src", url);
        $("#step__count").text(step);
    }


</script>
</body>

</html>
