<!DOCTYPE html>
{% load static humanize %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <title>Ranking</title>

    <style>
        body {
            color: white;
        }

        .table {
            width: 100%;
        }
        .table td {
            padding: 10px;
        }
        .table td.rank {
            width: 80px;
            text-align: center;
        }
        .table td.steps {
            width: 180px;
            text-align: right;
        }
    </style>
</head>

<body>

<div class="main__wrapper">
</div>

<div class="app__header">
    <a href="/main/?device_id={{ device_id }}">
        <div id="animal__logo">
            <img src="{% static 'img/ic_home.png' %}" alt="">
            <div id="animal__description">처음</div>
        </div>
    </a>
    <a href="/animal/?device_id={{ device_id }}">
        <div id="animal__logo">
            <img src="{% static 'img/animal_logo.png' %}" alt="">
            <div id="animal__description" onclick="location.href='{% url "animal" %}'">동물도감</div>
        </div>
    </a>
    <a href="/history/?device_id={{ device_id }}">
        <div id="animal__logo">
            <img src="{% static 'img/ic_history.png' %}" alt="">
            <div id="animal__description">7 DAYS</div>
        </div>
    </a>
    <a href="/rank/?device_id={{ device_id }}">
        <div id="animal__logo">
            <img src="{% static 'img/ic_rank.png' %}" alt="">
            <div id="animal__description">랭킹</div>
        </div>
    </a>
</div>

<div style="padding: 20px;font-size: 30px;text-align: center">
    순위
</div>
<div style="padding: 20px;font-size: 20px;text-align: center">
    {{ today|date:"Y년 m월 d일" }}
</div>
<table class="table">
    {% for rank in ranking %}
        <tr>
        <td class="rank">{{ rank.rank }} 등</td>
        <td class="steps">{{ rank.count|intcomma }} 걸음</td>
        <td class="memo">{% if device_id == rank.device_id %}
            접니다
        {% endif %}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
